.cell {
    width: 341px;
    height: 256px;
}

.midCell {
    width: 351;
    height: 256px;
}

.eye {
    width: 281px;
    height: 256px;
}

body {
    background-color: lightblue;
}